<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:usesCleartextTraffic="true"
        android:networkSecurityConfig="@xml/network_security_config"
        android:theme="@style/Theme.DAAM">

        <!-- Worker Activities -->
        <activity
            android:name=".worker.WorkerHomeActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".worker.WorkerRequestsActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".worker.WorkerJobDetailActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".worker.WorkerProfileActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".worker.WorkerCompletedJobsActivity"
            android:exported="false"
            android:screenOrientation="portrait" />

        <activity
            android:name=".WorkersActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".SelectProductActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".HireSubmissionActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".SignupActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ClientTasksActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".RequestInstallationActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity_stores"
            android:exported="false" />
        <activity
            android:name=".nav_drawer_menu"
            android:exported="false" />
        <activity
            android:name=".nav_header_drawer"
            android:exported="false" />
        <activity
            android:name=".nav_header"
            android:exported="false" />
        <activity
            android:name=".dialog_product_details"
            android:exported="false" />
        <activity
            android:name=".activity_product_detail"
            android:exported="false" />
        <activity
            android:name=".HomeActivity"
            android:exported="false" />
        <activity
            android:name=".ForgotPasswordActivity"
            android:exported="false" />

        <!-- Splash screen launches first -->
        <activity
            android:name=".SplashActivity"
            android:exported="true"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Login screen -->
        <activity
            android:name=".LoginActivity"
            android:exported="false" />

        <!-- Main screen -->
        <activity
            android:name=".MainActivity"
            android:exported="true" />

        <activity
            android:name=".MapActivity"
            android:exported="false" />

    </application>

</manifest>
